@import url('https://fonts.googleapis.com/css2?family=Alef&display=swap');

body {
    background: #dedede;
    margin: 0;
    padding: 0;
    font-family: "Alef", serif;
    font-size: 18px;
}

.nav-item {
    /*border-radius: 3px;*/
    padding-left: 30px;
    padding-right: 30px;
    font-size: 18px;
    border-left: 1px solid silver;
    border-right: 1px solid silver;
}

.nav-item span {
    color: #dedede;
}

.nav-item:hover {
    background: #24417B;
}

.btn-outline-primary{
    border-color: #24417B;
}

.btn-blue {
    color: #fdfdfd;
    background: rgba(36, 65, 123, 0.9);
}

.btn-blue:hover {
    color: #fdfdfd;
    background: rgba(36, 65, 123, 1);
}

.container-fluid img{
    margin-right: 10px;
}

.col-lg span, .q_title {
    font-weight: bold;
}

.card-header {
    font-size: 30px;
    font-weight: bold;
}

.form-control{
    border-color: black;
}
#do_legend {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}




#do_legend li {
    display: inline-table;
}

#chart {
    position: relative;
    height: 60vh;
    width: 60vh;
    top: 15%;
    margin: auto;
}

.li-container {
    margin-left: 1rem;
    margin-right: 1rem;
    color: black;
    display: inline-block;
}

.triangle-up {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid red;
    z-index: 1;
}


.cross {

    background: #000000;
    height: 25px;
    position: relative;
    width: 5px;
}

.cross:after {
    background: #000000;
    content: "";
    height: 5px;
    left: -10px;
    position: absolute;
    top: 10px;
    width: 25px;
}


.circle {
    background-color: blue;
    margin-top: 10px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    z-index: 1;
}

