<!DOCTYPE html>
{% extends "dashboard/base.html" %}
{% load static %}
{% load timetags %}
<html dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Patient Page{% endblock %} </title>

</head>
<body>

{% block content %}
<div class="container">
    <div class="row">
        <div class="card text-dark bg-light m-0 p-0 mt-3">
            <div class="card-header">פרטים אישיים</div>
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col-lg">
                                    <p><span>  שם : </span> {{patient_details.first_name}}
                                        {{patient_details.last_name}}</p>
                                </div>
                                <div class="col-lg">
                                    <p><span>תאריך לידה : </span>
                                        {{patient_details.date_of_birth|date_only}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg">
                                    <p><span>מין : </span> {{patient_details.gender}}</p>
                                </div>
                                <div class="col-lg">
                                    <p><span>מספר פלאפון : </span> {{patient_details.mobile_phone}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg">
                                    <p><span>מרפאה : </span> {{patient_details.clinic}}</p>
                                </div>
                                <div class="col-lg">
                                    <p><span>ארץ לידה : </span> {{patient_details.country}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <img style="float: left" width="150rem" src="{% static "dashboard/personal-information.png" %}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="card text-dark bg-light m-0 p-0 mt-3">
            <div class="card-header">שאלון
                <span>
                    {% if patient_questionnaire != None %}
                    מעודכן לתאריך: {{patient_questionnaire.answeredAt.time|date_only}}
                    {% endif %}
                </span>
            </div>
            <div class="card-body">
                <div class="container">
                    <!--            <div class="d-flex justify-content-end">-->
                    <!--                <button id="notify_patient_medications" class="btn btn-warning mb-2" data-token="{{token}}"><i-->
                    <!--                        class="fas fa-bell fa-lg"></i>שלח התראה-->
                    <!--                </button>-->
                    <!--            </div>-->
                    <div class="row">
                        <div class="col-7">
                            {% if patient_questionnaire == None %}
                            <div class="alert alert-warning" role="alert">
                                <i class="fas fa-exclamation-circle fa-lg"></i>
                                המטופל טרם עדכן את שאלונו הרפואי!
                            </div>
                            {% else %}
                            {% for question in patient_questionnaire.questionList %}
                            <p><span class="q_title"> {{question.title}} </span>:
                                {% for ans in question.answers %}
                                {% if forloop.last %}
                                {{ans}}
                                {% else %}
                                {{ans}},
                                {% endif %}
                                {% endfor %}
                                {{question.answer}}</p>
                            {% endfor %}
                            {% endif %}
                        </div>
                        <div class="col">
                            <img style="float: left" width="150rem" src="{% static "dashboard/questionnaire.png" %}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card text-dark bg-light m-0 p-0 mt-3">
            <div class="card-header">תרופות</div>
            <div class="card-body ">
                <div class="d-flex justify-content-between">
                    <button id="add_medicine_btn" class="btn btn-dark mb-2">הוסף תרופה</button>
<!--                    <button id="notify_patient_medications" class="btn btn-warning mb-2" data-token="{{token}}"><i-->
<!--                            class="fas fa-bell fa-lg"></i>שלח התראה-->
<!--                    </button>-->
                </div>
                <table class="table table-striped table-sm table-responsive table-bordered">
                    {% csrf_token %}
                    {% if patient_medications.val == None %}
                    <div id="alert" class="alert alert-warning" role="alert">
                        <i class="fas fa-exclamation-circle fa-lg"></i>
                        המטופל טרם עדכן את תרופותיו!
                    </div>
                    <thead>
                    <tr id="trhead" hidden>
                        <th scope="col">#</th>
                        <th scope="col">שם</th>
                        <th scope="col">מינון</th>
                        <th scope="col">זמני נטילה</th>
                        <th scope="col">אפשרויות</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr hidden>
                        <th scope="row">#</th>
                        <td>
                            <select required disabled class="row-data name form-select">
                                {% for med in medications %}
                                <option style="color: #EF3B3A" disabled>--{{med.val.categoryName}}--</option>
                                {% for key,val in med.val.medicationList.items %}
                                <option id="{{key}}" data-category={{med.key}} value="{{key}}">{{val.name}}</option>
                                {% endfor %}
                                {% endfor %}
                            </select>
                        </td>
                        <td><input required disabled class="row-data dosage form-control" style="max-width: 100px"
                                   type="text"></td>
                        <td style="max-width: 300px">
                            <button type="button" class="add_time_btn btn btn-outline-success btn-sm" disabled>+</button>
                        </td>
                        <td>
                            <button type="button" class="edit_row_btn btn btn-outline-success"
                                    data-medicine-key=''>ערוך
                            </button>
                            <button type="button" hidden class="save_row_btn btn btn-outline-success"
                                    data-medicine-key=''>שמור
                            </button>
                            <button type="button" class="delete_row_btn btn btn-outline-danger"
                                    data-medicine-key=''>מחק
                            </button>
                            <button type="button" hidden class="submit_delete_row_btn btn btn-warning"
                                    data-medicine-key=''>אשר
                            </button>
                        </td>
                    </tr>
                    </tbody>
                    {% else %}
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">שם</th>
                        <th scope="col">מינון</th>
                        <th scope="col">זמני נטילה</th>
                        <th scope="col">אפשרויות</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for medicine in patient_medications %}
                    <tr>
                        <th scope="row">#</th>
                        <td>
                            <select required disabled class="row-data name form-select">
                                {% for med in medications %}
                                <option style="color: #EF3B3A" disabled>--{{med.val.categoryName}}--</option>
                                {% for key,val in med.val.medicationList.items %}
                                {% if val.name == medicine.val.name %}
                                <option id="{{key}}" selected data-category={{med.key}}
                                        value="{{key}}">{{val.name}}</option>
                                {% else %}
                                <option id="{{key}}" data-category={{med.key}} value="{{key}}">{{val.name}}</option>
                                {% endif %}
                                {% endfor %}
                                {% endfor %}
                            </select>
                        </td>
                        <td><input required disabled class="row-data dosage form-control" style="max-width: 100px"
                                   type="text" value={{medicine.val.dosage}}></td>
                        <td style="max-width: 300px">
                            <button type="button" class="add_time_btn btn btn-outline-success btn-sm" disabled>+</button>
                            {% for time in medicine.val.hoursArr %}
                            <input required class="row-time-data" disabled type="time"
                                   value={{time.hour|time_for_med}}:{{time.minutes|time_for_med}}>
                            {% endfor %}
                        </td>
                        <td>
                            <button type="button" class="edit_row_btn btn btn-outline-success"
                                    data-medicine-key={{medicine.key}}>ערוך
                            </button>
                            <button type="button" hidden class="save_row_btn btn btn-outline-success"
                                    data-medicine-key={{medicine.key}}>שמור
                            </button>
                            <button type="button" class="delete_row_btn btn btn-outline-danger"
                                    data-medicine-key={{medicine.key}}>מחק
                            </button>
                            <button type="button" hidden class="submit_delete_row_btn btn btn-warning"
                                    data-medicine-key={{medicine.key}}>אשר
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    {% endif %}
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card text-dark bg-light m-0 p-0 mt-3">
            <div class="card-header">דיווחים</div>
            <div class="card-body ">
                <input type="date" id="filter_dates">
                <button class="btn btn-dark" id="filter_btn">סנן</button>
                <ul id="do_legend">
                    <li class="circle"></li>
                    <li class="li-container">ללא הזיות</li>
                    <li class="triangle-up"></li>
                    <li class="li-container"> הזיות</li>
                    <img src="{% static "dashboard/medicine.png" %}">
                    <li class="li-container"> תרופות</li>
                </ul>
                <canvas id="myChart" width="400" height="150"></canvas>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="{% static 'dashboard/scripts.js' %}"></script>
<script>
    const ctx = document.getElementById('myChart').getContext('2d');
    const yLabels = {
        6: 'Dyskinesia',
        2: 'Off',
        4: 'On',
        8: '',
    };

    var tooltipSh = new Image()
    tooltipSh.src = "{% static "dashboard/medicine.png" %}"

    const myChart = new Chart(ctx, {
        type: 'scatter',
        data: {
            labels: [],
            datasets: [{
                type: 'line',
                showLine: true,
                fill: false,
                borderColor: 'rgb(39,65,181)',
                borderWidth: 3,
                pointBorderWidth: 8,
                pointHoverRadius: 8,
                pointStyle: [],
                pointBorderColor: [],
                data: [],

            }, {
                pointStyle: tooltipSh,
                hitRadius: 10,
                data: []
            },]
        },
        options: {
            showAllTooltips: true,
            responsive: true,
            layout: {
                padding: {
                    left: 20,
                    right: 20,
                    bottom: 20,
                    top: 20
                }
            },
            tooltips: {
                yAlign: 'bottom', //placing the tooltip on top
                callbacks: {
                    label: function (tooltipItem, data) {
                        let indice = tooltipItem.index;
                        if (tooltipItem.datasetIndex === 0) {
                            return data.datasets[0].data[indice].x
                        } else {
                            return data.datasets[1].data[indice].x
                        }
                    },
                    afterLabel: function (tooltipItem, data) {
                        let indice = tooltipItem.index;
                        if (tooltipItem.datasetIndex === 0) {
                            return yLabels[data.datasets[0].data[indice].y] + ' ' +
                                data.datasets[0].data[indice].hallucination
                        } else {
                            return data.datasets[1].data[indice].id
                        }
                    }
                }
            },
            legend: {
                display: false
            },
            scales: {
                xAxes: [{
                    type: 'time',
                    distribution: 'linear',
                    time: {
                        parser: "HH:mm",
                        unit: 'hour',
                        unitStepSize: 1,
                        displayFormats: {
                            'minute': 'HH:mm',
                            'hour': 'HH:mm',
                            min: '00:00',
                            max: '23:59'
                        },
                    }
                }],
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        suggestedMin: 0,
                        suggestedMax: 10,
                        callback: function (value) {
                            return yLabels[value];
                        }
                    }
                }]
            },
        }
    });
    // Getting data of med times and put it on graph
    updateMedReports({{medication_reports|safe}}, myChart);
    // Setting the date picker date to today and preventing future dates
    today = formatDate(true);
    let date_picker = document.getElementById('filter_dates');
    date_picker.value = today;
    document.getElementById('filter_dates').setAttribute('max', today);
    // Getting data of reports and put it on graph
    filterDatesAndLabels(true, {{reports|safe}})
    document.getElementById('filter_btn').addEventListener('click', filterDatesAndLabels.bind(null, false, {{reports|safe}}));

</script>

{% endblock %}

</body>
</html>