<!DOCTYPE html>
{% extends "dashboard/base.html" %}
{% load static %}
{% load timetags %}
<html dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Patient Page{% endblock %} </title>
</head>
<body>

{% block content %}

<h2 style="margin-top: 10px">פרטים אישיים</h2>
<div class="jumbotron">
    <div class="patient_details">
        <div class="grid-container">
            <p><span> <i class="fas fa-signature"></i>שם : </span> {{patient_details.first_name}}
                {{patient_details.last_name}}</p>
            <p><span> <i class="fas fa-birthday-cake"></i>תאריך לידה : </span>
                {{patient_details.date_of_birth|date_only}}</p>
            <p><span> <i class="fas fa-venus-mars"></i>מין : </span> {{patient_details.gender}}</p>
            <p><span> <i class="fas fa-phone"></i>מספר פלאפון : </span> {{patient_details.mobile_phone}}</p>
            <p><span> <i class="fas fa-clinic-medical"></i>מרפאה : </span> {{patient_details.clinic}}</p>
            <p><span> <i class="fas fa-globe-americas"></i>ארץ לידה : </span> {{patient_details.country}}</p>
        </div>
    </div>
</div>

<h2>תרופות</h2>
<div class="jumbotron container">
    <button id="add_medicine_btn" class="btn btn-primary mb-2">הוסף תרופה</button>
    <table class="table table-striped table-sm" style="background-color: white">
        {% csrf_token %}
        {% if patient_medications.val == None %}
        <div class="alert alert-warning" role="alert">
            <i class="fas fa-exclamation-circle fa-lg"></i>
            המטופל טרם עדכן את תרופותיו!
        </div>
        {% else %}
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">שם</th>
            <th scope="col">מינון</th>
            <th scope="col">זמני נטילה</th>
            <th scope="col">אפשרויות</th>
        </tr>
        </thead>
        <tbody>
        {% for medicine in patient_medications %}
            <tr>
                <th scope="row">#</th>
                <td>
                    <select required disabled class="row-data name form-select">
                        {% for med in medications %}
                        <option style="color: #EF3B3A" disabled>--{{med.val.categoryName}}--</option>
                        {% for key,val in med.val.medicationList.items %}
                        {% if val.name == medicine.val.name %}
                        <option id="{{key}}" selected data-category={{med.key}} value="{{key}}">{{val.name}}</option>
                        {% else %}
                        <option id="{{key}}" data-category={{med.key}} value="{{key}}">{{val.name}}</option>
                        {% endif %}
                        {% endfor %}
                        {% endfor %}
                    </select>
                </td>
                <td><input required disabled class="row-data dosage form-control" style="max-width: 100px"
                           type="text" value={{medicine.val.dosage}}></td>
                <td>
                    {% for time in medicine.val.hoursArr %}
                    <input required class="row-time-data" disabled type="time"
                           value={{time.hour}}:{{time.minutes}}>
                    {% endfor %}
                </td>
                <td>
                    <button type="button" class="edit_row_btn btn btn-success"
                            data-medicine-key={{medicine.key}}>ערוך
                    </button>
                    <button type="button" hidden class="save_row_btn btn btn-success"
                            data-medicine-key={{medicine.key}}>שמור
                    </button>
                    <button type="button" class="delete_row_btn btn btn-danger"
                            data-key-to-delete={{medicine.key}}>מחק
                    </button>
                </td>

            </tr>
        {% endfor %}
        </tbody>
        {% endif %}
    </table>
</div>

<h2>שאלון <span>
    {% if patient_questionnaire != None %}
    מעודכן לתאריך  {{patient_questionnaire.answeredAt.time|prettydate}}
    {% endif %}
</span></h2>
<div class="jumbotron">
    {% if patient_questionnaire == None %}
    <div class="alert alert-warning" role="alert">
        <i class="fas fa-exclamation-circle fa-lg"></i>
        המטופל טרם עדכן את שאלונו הרפואי!
    </div>
    {% else %}
    {% for question in patient_questionnaire.questionList %}
    <p><span> {{question.title}} </span>:
        {% for ans in question.answers %}
        {{ans}},
        {% endfor %}</p>
    {{question.answer}}
    {% endfor %}
    {% endif %}
</div>

<h2>דיווחים</h2>
<input type="date" id="filter_dates">
<button class="btn btn-primary" id="filter_btn">סנן</button>
<div class="jumbotron" style="background-color: white">
    <canvas id="myChart" width="400" height="150"></canvas>
</div>

<script>
    const ctx = document.getElementById('myChart').getContext('2d');
    const yLabels = {
        0: 'Hallucinations',
        2: 'Off',
        4: 'On',
        6: 'Dyskinesia',
    };
    const myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [],
            datasets: [{
                label: 'סטאטוס',
                fill: false,
                data: [],
                borderColor: 'rgba(255,159,110,1)',
                borderWidth: 3
            }]
        },
        options: {
            legend: {
                display: false
            },
            title: {
                display: true,
                fontSize: 18,
                text: "סטאטוס"
            },
            scales: {
                xAxes: [{
                    type: 'time',
                    distribution: 'linear',
                    time: {
                        parser: "HH:mm",
                        unit: 'hour',
                        unitStepSize: 1,
                        displayFormats: {
                            'minute': 'HH:mm',
                            'hour': 'HH:mm',
                            min: '00:00',
                            max: '23:59'
                        },
                    }
                }],
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        suggestedMin: 0,
                        suggestedMax: 8,
                        callback: function (value) {
                            return yLabels[value];
                        }
                    }
                }]
            },
        }
    });
    // Setting the date picker date to today and preventing future dates
    today = formatDate(true);
    let date_picker = document.getElementById('filter_dates');
    date_picker.value = today;
    document.getElementById('filter_dates').setAttribute('max', today);

    function filterDatesAndLabels(isDefault) {
        new_labels = []
        new_data = []
        if (isDefault)
            formated_today = formatDate(false)
        else
            formated_today = formatDate(false, date_picker.value)

        {% for label, value in reports.items %}
        new_label = '{{label}}';
        new_value = '{{value}}';
        new_label = new_label.split(' ')
        if (new_label[0] === formated_today) {
            new_labels.push(new_label[1])
            new_data.push(parseInt(new_value))
        }
        {% endfor %}

        myChart.data.datasets[0].data = new_data;
        myChart.data.labels = new_labels;
        myChart.update();
    }

    function formatDate(formated, date = null) {
        var dtToday;
        if (!date)
            dtToday = new Date()
        else
            dtToday = new Date(date)

        var month = dtToday.getMonth() + 1;
        var day = dtToday.getDate();
        var year = dtToday.getFullYear();
        if (month < 10)
            month = '0' + month.toString();
        if (day < 10)
            day = '0' + day.toString();

        if (formated)
            return [year, month, day].join('-'); // for init the date picker
        else
            return [day, month, year].join('-'); // for filter dates
    }

    window.onload = filterDatesAndLabels(true)
    document.getElementById('filter_btn').addEventListener('click', filterDatesAndLabels.bind(null, false));

</script>
<script type="text/javascript" src="{% static 'dashboard/scripts.js' %}"></script>

{% endblock %}

</body>
</html>