<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
{% load typetags %}
{% load timetags %}

<html dir="rtl">
<head>
    <title>שאלון</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'questionnaire/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
            crossorigin="anonymous"></script>
</head>
<body style="direction: rtl">

<h1 class="d-flex justify-content-center">שאלון רפואי</h1>
<div class="d-flex justify-content-between">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#add-modal-bg">
        הוסף שאלה חדשה
    </button>
    <h3>עודכן לאחרונה : {{questionnaire.val.answeredAt.time|date_only}} </h3>
</div>


<!-- Add Modal -->
<div class="modal fade" id="add-modal-bg" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" dir="rtl" lang="he" style="text-align:right">
                <h5 class="modal-title">שאלה חדשה</h5>
            </div>
            <div class="modal-body">
                <form action="create/" id="answer_form" method="POST" class="form-group" dir="rtl" lang="he"
                      style="text-align:right">
                    {% csrf_token %}
                    {{question_form|crispy}}
                    <div class="btns mb-2 mt-2">
                        <p>תשובות : </p>
                        <button id="add_answer_btn" class="btn btn-success" type="button">
                            <i class="fas fa-plus"></i>
                        </button>
                        <button id="remove_answer_btn" class="btn btn-danger" type="button">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                    <input id="number_of_answers" name="number_of_answers" type="hidden">
                    <div id="answers_container"></div>
                    <div class="modal-footer d-flex justify-content-start">
                        <button id="close_btn" type="button" class="btn btn-secondary" data-bs-dismiss="modal">סגור
                        </button>
                        <button type="submit" class="btn btn-primary">הוסף</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="edit-modal-bg" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" dir="rtl" lang="he" style="text-align:right">
                <h5 class="modal-title">ערוך שאלה</h5>
            </div>
            <div class="modal-body">
                <form action="update/" id="answer_form" method="POST" class="form-group" dir="rtl" lang="he"
                      style="text-align:right">
                    {% csrf_token %}
                    {{question_form|crispy}}
                    <div class="btns mb-2 mt-2">
                        <p>תשובות : </p>
                        <button id="add_answer_btn" class="btn btn-success" type="button">
                            <i class="fas fa-plus"></i>
                        </button>
                        <button id="remove_answer_btn" class="btn btn-danger" type="button">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                    <input id="edit_number_of_answers" name="edit_number_of_answers" type="hidden">
                    <div id="edit_answers_container"></div>
                    <div class="modal-footer d-flex justify-content-start">
                        <button id="close_btn" type="button" class="btn btn-secondary" data-bs-dismiss="modal">סגור
                        </button>
                        <button id="update_btn" type="submit" class="btn btn-primary">עדכן</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Questionnaire -->
{% if questionnaire.val.questionList is not None %}
<div class="list-group" dir="rtl" lang="he" style="text-align:right">
    {% for question in questionnaire.val.questionList %}
    <div class="list-group-item list-group-item-light">
        <div>
            <h3 class="mb-3">{{question.title}}
                <span class="badge alert-primary">{{question.choiceType|translate_type}}</span>
            </h3>
            <div class="container-sm">
                <form method="POST" action="delete/">
                    {% csrf_token %}
                    <button value="{{question.key}}"
                            name="key_to_delete"
                            type="submit" class="btn btn-danger"
                            style="float: left">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </form>
                <button type="button" class="edit-btn btn btn-success"
                        style="float: left"
                        data-bs-toggle="modal"
                        data-bs-target="#edit-modal-bg"
                        data-title="{{question.title}}"
                        data-type="{{question.choiceType}}"
                        data-answers="{{question.choices}}"
                        data-key-to-edit="{{question.key}}">
                    <i class="fas fa-edit"></i>
                </button>
            </div>
        </div>
        {% if question.choiceType != 'OpenQuestion' %}
        <h5>תשובות : </h5>
        <div class="answers">
            {% for answer in question.choices %}
            <span class="mb-1">{{answer}},</span>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    {% endfor %}

</div>
{% endif %}

<!--&lt;!&ndash; Medicines Test &ndash;&gt;-->
<!--<div class="container" style="max-width: 300px">-->
<!--    <select class="form-select">-->
<!--        {% for medicine in medications %}-->
<!--        {% for key,val in medicine.val.medicationList.items %}-->
<!--        <option value="{{key}}">-->
<!--            {{val.name}}-->
<!--        </option>-->
<!--        {% endfor %}-->
<!--        {% endfor %}-->
<!--    </select>-->
<!--</div>-->
<!--&lt;!&ndash; Medicines Test &ndash;&gt;-->

<!--<div class="dropstart">-->
<!--    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"-->
<!--            aria-expanded="true">-->
<!--        בחר תרופה-->
<!--    </button>-->
<!--    <ul class="dropdown-menu">-->
<!--        {% for medicine in medications %}-->
<!--        <li class="dropdown-item">-->
<!--            {{medicine.val.categoryName}}-->
<!--        </li>-->
<!--        <li class="dropdown-divider"></li>-->
<!--        {% endfor %}-->
<!--    </ul>-->
<!--</div>-->

<script type="text/javascript" src="{% static 'questionnaire/scripts.js' %}"></script>


</body>

</html>