<!DOCTYPE html>
{% extends "dashboard/base.html" %}
<html dir="rtl">
<head>
    <title>Hello</title>
</head>

<body>
{% block content %}

<div class="jumbotron">
    <h1 class="display-4">שלום {{name}}</h1>
    <p class="lead">זהו דף הבית, ניתן לחפש מטופלים</p>
    <hr class="my-4">
    <p>על מנת לחפש מטופל אנא הכנס את מספרו.</p>
    <p class="lead">
    <form method="post" action="/patient_detail/">
        {% csrf_token %}
        <i class="fas fa-search" aria-hidden="true"></i>
        <input name="patient_id" type="text" placeholder="מספר מטופל"
               aria-label="Search">
        <input class="search-btn" type="submit" value="חפש">
    </form>

    </p>
</div>

{% if msg %}
    <script>
        alert('{{ msg }}');
    </script>
{% endif %}

{% endblock content %}
</body>
</html>