body{
    background-image: linear-gradient(120deg, #868F96 0%, #596164 100%);
}

.content{
    padding-right: 6rem;
    padding-left: 6rem;
    padding-top: 30px;
}

h1{
    color: white;
}

.accordion-button:not(.collapsed) {
    background-color: #dee2e6;
}
