{% load static %}
{% load crispy_forms_tags %}
<title>הרשמה</title>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'registration/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
<div class="registration-page">
    <div class="form">
        <form method="POST" class="form-group" dir="rtl" lang="he" style="text-align:right;">
            <h1>הוסף מטופל</h1>
            {% csrf_token %}
            {{form|crispy}}
            {{ourform|crispy}}
            <button type="submit" class="btn btn-success">הוסף</button>
        </form>
    </div>
</div>

<script>
    $(function () {
        var dtToday = new Date();

        var month = dtToday.getMonth() + 1;
        var day = dtToday.getDate();
        var year = dtToday.getFullYear();
        if (month < 10)
            month = '0' + month.toString();
        if (day < 10)
            day = '0' + day.toString();

        var maxDate = year + '-' + month + '-' + day;
        $('#id_date_of_birth').attr('max', maxDate);
    });
</script>

</body>




