{% load static %}

<title>התחברות</title>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'sign_in/style.css' %}">
</head>

<body>
<div class="login-page">
    <div class="form">
        <form method="POST" class="form-group" style="text-align: right" dir="rtl">
            <h1>התחברות</h1>
            {% csrf_token %}
            {{form}}
            <button type="submit" class="btn btn-success">התחבר</button>
            <p>משתמש חדש? הירשם <a href="/register">כאן!</a></p>

            <h2>{{ msg }}</h2>
        </form>
    </div>
</div>
</body>


