

{% extends 'dashboard/base.html' %}
{% block title %} Login Here {% endblock %}

{% load crispy_forms_tags %}

{% block content %}
{%if msg %}

<script>
    alert("{{msg}}")
</script>

{%endif%}
    <h1>התחברות</h1>
    <hr class="mt-0 mb-4">
    <form method="POST" class="form-group" style="text-align: right" lang="he" dir="rtl">
        {% csrf_token %}
        {{form|crispy}}
        <button type="submit" class="btn btn-success">התחבר</button>
        <p>משתמש חדש? הירשם <a href="/register">כאן!</a></p>

        <h2>{{ error }}</h2>
    </form>
{% endblock %}
