{% load static %}

<title>הרשמה</title>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'registration/style.css' %}">
</head>

<body>
<div class="registration-page">
    <div class="form">
        <form method="POST" class="form-group" style="text-align: right" dir="rtl">
            <h1>צור משתמש</h1>
            {% csrf_token %}
            {{form}}
            {{ourform}}
            <button type="submit" class="btn btn-success">הרשם</button>
        </form>
    </div>
</div>
</body>


